.wp-gr .wp-google-badge {
    display: inline-block;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif!important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)!important;
}

.wp-gr .wp-google-badge-fixed {
    position: fixed!important;
    right: 30px!important;
    bottom: 30px!important;
    max-width: none!important;
    z-index: 2147482999!important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)!important;
}

.wp-gr .wp-google-badge_left-fixed {
    position: fixed!important;
    left: 30px!important;
    bottom: 30px!important;
    max-width: none!important;
    z-index: 2147482999!important
}

.wp-gr .wp-google-badge * {
    cursor: pointer!important
}

.wp-gr .wp-google-border {
    width: 100%!important;
    height: 6px!important;
    background: #4fce6a!important;
    border-radius: 2px 2px 0 0!important;
}

.wp-gr .wp-google-badge-btn {
    position: relative!important;
    padding: 10px!important;
    background: #fff!important;
    transition: all .2s ease-in-out!important;
    border-radius: 2px!important;
}

.wp-gr .wp-google-badge-btn:hover {
    background: #f3f3f5!important
}

.wp-gr .wp-google-badge-score {
    display: inline-block;
    margin: 0 0 0 4px!important;
    vertical-align: middle!important;
}

.wp-gr .wp-google-form .wp-google-reviews {
    padding: 16px 16px 0!important
}

.wp-gr .wp-google-form {
    position: fixed!important;
    bottom: 0!important;
    right: 0!important;
    height: 100%!important;
    width: 368px!important;
    z-index: 2147483000!important
}

.wp-gr .wp-google-form.wp-google-form-left {
    left: 0!important;
}

@media(max-width:460px) {
    .wp-gr .wp-google-form {
        width: 100%!important
    }
}

.wp-gr .wp-google-head {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    width: 100%!important;
    height: 80px!important;
    background: #fff!important;
    padding: 10px 16px!important;
    overflow: hidden!important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .12)!important;
    z-index: 2147483002!important
}

.wp-gr .wp-google-head-inner {
    z-index: 2147483000!important;
    position: absolute!important;
    left: 20px!important;
    top: 20px!important;
    width: 100%!important;
    height: 100%!important;
    pointer-events: none!important
}

.wp-gr .wp-google-close {
    padding: 0!important;
    cursor: pointer!important;
    outline: 0!important;
    border: 0!important;
    background: 0 0!important;
    min-height: 0!important;
    width: auto!important;
    float: right!important;
    font-size: 32px!important;
    font-weight: 500!important;
    line-height: .6!important;
    color: #999!important;
    -webkit-appearance: none!important
}

.wp-gr .wp-google-close:hover {
    color: #555!important
}

.wp-gr .wp-google-body {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    width: 100%!important;
    background: rgba(250, 250, 251, .98)!important;
    border-left: 1px solid #dadee2!important;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .08)!important;
    z-index: 2147483000!important
}

.wp-gr .wp-google-content {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    width: 100%!important;
    overflow-y: auto!important;
    z-index: 2147483001!important;
    -webkit-transform: translateZ(0)!important
}

.wp-gr .wp-google-content {
    top: 80px!important;
    bottom: 48px!important
}

.wp-gr .wp-google-content-inner {
    position: relative!important;
    min-height: 100%!important;
    margin: 0 auto!important
}

.wp-gr .wp-google-footer {
    position: absolute!important;
    bottom: 0!important;
    right: 0!important;
    width: 100%!important;
    height: 48px!important;
    text-align: center!important;
    z-index: 2147483002!important;
    background: #fff!important;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .06)!important;
    -moz-text-align-last: center!important;
    text-align-last: center!important
}

.wp-gr .wp-google-footer img {
    float: right!important;
    padding: 16px!important
}

@media(max-width: 480px) {
    .wp-google-badge.wp-google-badge-fixed.wp-google-badge-hide {
        display: none!important;
    }
}

@media(max-width: 480px) {
    .wp-google-badge.wp-google-badge_left-fixed.wp-google-badge-hide {
        display: none!important;
    }
}